#platlist_search{
		width:50%;
		margin-bottom:10px;
	}
	
.sourcelist{
	padding-left:20px;
	padding-right:20px;
}

.sourcelistitle{
	font-size:25px;
	font-weight: bold;
	text-align:center;
	font-family:SimHei;
	margin-bottom:-10px;
}

.newbiao{
	float:right;
	display:inline;
	margin-bottom:5px;
	font-weight: bold;
}

.newform{
	width:25%;
}

.newform2{
	width:100%;
}

.titleshujuku{
	font-size:18px;
	font-weight: bold;
}